html {
    background-color: #152226;
    font-family: "DejaVu Sans Mono", monospace;
}

body {
    background-color: #0b1d1f;
    width: 100%;
    max-width: 750px;
    min-height: 100vh;
    margin: 0 auto;
}

@media (max-width: 750px) {
    body {
        width: auto;
    }
}

header {
    background-color: #254645;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.nav-item {
    border-radius: 10px;
    margin-left: .5rem;
    padding: .5rem;
    color: #00D992;
    text-decoration: none;
}

.nav-item-left {
    margin-right: auto;
}

.nav-item:hover {
    font-weight: bold;
    box-shadow: 0 0 0 2px rgba(6, 24, 44, 0.4), 0 4px 6px -1px rgba(6, 24, 44, 0.65), inset 0 1px 0 hsla(0, 0%, 100%, 0.08);
}

.nav-space {
    flex-grow: 1;
}

#content {
    padding: 1rem;
}