/* Reset some default browser styles */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: #5C3723;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header div {
    width: 1000px;
    background-color: #EDDDAA;
    color: #5C3723;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Style the navigation menu */
nav {
    margin-top: .5rem;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.button {
    text-decoration: none;
    background-color: transparent;
    color: #5C3723;
    border-radius: 6px;
    border-style: solid;
    border-width: 2px;
    border-color: #5C3723;
    padding: .3rem;
}

.button:hover {
    border-radius: 6px;
    border-style: solid;
    border-width: 2px;
    border-color: #69b4b2;
}

/* Center the content pane */
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    background-color: #EDDDAA;
    width: 1000px;
    text-align: center;
    box-sizing: border-box;
    margin-top: 1rem;
    padding: 20px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

form div {
    padding-right: 250px;
    padding-left: 250px;
    display: flex;
    text-align: left;
    justify-content: space-between;
}

/* Responsive design for small screens */
@media (max-width: 500px) {
    .content-pane {
        width: 100%;
    }
}
