html {
    background-color: #152226;
    font-family: "DejaVu Sans Mono", monospace;
}

body {
    background-color: #0b1d1f;
    width: 100%;
    max-width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
}

header {
    background-color: #254645;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.mobile-nav {
    display: none;
    text-align: right;
}

.mobile-nav > summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 750px) {
    body {
        width: auto;
    }
    .navbar {
        display: none;
    }
    .mobile-nav {
        display: flex;
    }
}

.button {
    background: none;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    border-radius: 10px;
    padding: .5rem;
    color: #00D992;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0);
}

.nav-item-left {
    margin-right: auto;
}

.button:hover {
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #00D992;
}

.nav-space {
    flex-grow: 1;
    text-align: center;
}

#content {
    padding: 1rem;
    color: #BCBCBD;
}

form {
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.form-group label {
    margin-right: 10px;
}

.form-group input {
    text-align: right;
    flex-grow: 1;
    max-width: 50%;
}

.form-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

input {
    color: #00D992;
    font-weight: bolder;
    background-color: #254645;
    border-radius: 10px;
    border-color: #0b1d1f;
    padding: .5rem 1rem;
}

input[type="text"]:focus, input[type="password"]:focus {
    outline: none;
    border-color: #00D992;
}

details {
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #254645;
}

details > summary {
    text-align: center;
    list-style: none;
}

details > summary > img {
    height: 2rem;
}

details > summary::-webkit-details-marker {
    display: none;
}

.details-contents {
    padding: 1px;
}