{{define "content"}}
<form action="/activate" method="post">
    <div>
        <label for="credit-code">Credit Code:</label>
        <input type="text" id="credit-code" name="invite-code">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <label for="confirm-password">Confirm Password:</label>
        <input type="password" id="confirm-password" name="confirm-password" required>
    </div>
    <input class="button" type="submit" value="Submit">
</form>

<script>
    document.getElementById('registrationForm').addEventListener('submit', function(e) {
        var password = document.getElementById('password').value;
        var confirmPassword = document.getElementById('confirm-password').value;

        if (password !== confirmPassword) {
            alert('Password and confirm password do not match.');
            e.preventDefault();
        }
    });
</script>
{{end}}
