<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>yvpn.io</title>
        <link rel="stylesheet" href="/static/style.css">
        <script src="/static/htmx.org@1.9.4"></script>
    </head>
    <body>
        <header>
            <h1>yVPN, <em>Your VPN</em></h1>
            <nav>
                <ul>
                    {{ if .LoggedIn }}
                        <li><a href="/logout">Logout</a></li>
                        <li><a href="/dashboard">Dashboard</a></li>
                    {{ else }}
                        <li><a href="/login">Login</a></li>
                    {{ end }}
                </ul>
            </nav>
        </header>

        <main>
            <div id="content">
                {{block "content" .}}  {{end}}
            </div>
        </main>
    </body>
</html>


