<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>yvpn.io</title>
        <link rel="stylesheet" href="/static/style.css">
        <script src="/static/htmx.org@1.9.4"></script>
    </head>
    <body>
        <header>
            <nav class="navbar">
                <h1 class="nav-item-left"><b>{</b> {{.PageTitle}} <b>}</b></h1>
                <div class="nav-space"></div>
                {{if .LoggedIn}}
                <a class="button" href="/dashboard"><b>[</b> Dashboard <b>]</b></a>
                <a class="button" href="/logout"><b>[</b> Logout <b>]</b></a>
                {{else}}
                <a class="button" href="/purchase"><b>[</b> Purchase <b>]</b></a>
                <a class="button" href="/dashboard"><b>[</b> Login <b>]</b></a>
                {{end}}
            </nav>
            <details class="mobile-nav">
                <summary class="button">
                    <span><b>{</b> {{.PageTitle}} <b>}</b></span><img src="/static/images/burger.svg" alt="Menu" />
                </summary>
                <a class="button" href="/"><b>[</b> yVPN <b>]</b></a>
                {{if .LoggedIn}}
                <a class="button" href="/dashboard"><b>[</b> Dashboard <b>]</b></a>
                <a class="button" href="/logout"><b>[</b> Logout <b>]</b></a>
                {{else}}
                <a class="button" href="/purchase"><b>[</b> Purchase <b>]</b></a>
                <a class="button" href="/dashboard"><b>[</b> Login <b>]</b></a>
                {{end}}
            </details>
        </header>

        <main>
            <div id="content">
                {{block "content" .}}  {{end}}
            </div>
        </main>
    </body>
</html>


