<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>yvpn.io</title>
        <link rel="stylesheet" href="/static/style.css">
        <script src="/static/htmx.org@1.9.4"></script>
    </head>
    <body>
        <header>
            <div>
                <h1><a class="button" href="/">yVPN</a></h1>
                <nav>
                    <ul>
                        <li><a class="button" href="/purchase"><b>[</b> Purchase <b>]</b></a></li>
                        <li><a class="button" href="/dashboard"><b>[</b> Manage <b>]</b></a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>
            <div id="content">
                {{block "content" .}}  {{end}}
            </div>
        </main>
    </body>
</html>


