{{define "content"}}
<details>
    <summary class="button">[ Settings ]</summary>
    <label class="form-group">
        Digital Ocean Token:
        <input type="text" name="pin" value="{{if .Account.DigitalOceanToken}}{{.Account.DigitalOceanToken}}{{else}}None{{end}}">
    </label>
    <input hx-get="/token/add" hx-target="#settings" class="button form-group" type="submit" value="[ Edit ]">
</details>
<div id="endpoints">
    <h3>Endpoints</h3>
    <button hx-get="/endpoints/add" hx-target="#endpoints">Add</button>
    {{range .Account.Endpoints}}
    <details>
        <summary>{{.ID}} | {{.Datacenter}} | {{.IP}}</summary>
        <button hx-delete="/endpoints/{{.ID}}" hx-target="#endpoints">Delete</button>
        {{range .Clients}}
        <details>
            <summary>{{.ID}}</summary>
            <pre>{{.Config}}</pre>
            <a href="/endpoints/{{.EndpointID}}/{{.ID}}">Download</a>
            <img src="data:image/png;base64,{{.QR}}" alt="QR Code">
        </details>
        {{end}}
    </details>
    {{end}}
</div>
{{end}}
