{{define "content"}}
<div id="endpoints">
    <button class="button" id="settings-button">[ Settings ]</button>
    <button class="button" hx-get="/endpoints/add" hx-target="#endpoints">[ Add Endpoint ]</button>
    {{range .Account.Endpoints}}
    <details>
        <summary class="button">{{.Datacenter}} | {{if .IP}}{{.IP}}{{else}}Spawning...{{end}}</summary>
        <div class="details-contents">
            <button class="button" hx-delete="/endpoints/{{.ID}}" hx-target="#endpoints">[ Delete Endpoint ]</button>
            <a href="/client/{{.ID}}" class="button">[ Add Device ]</a>
            {{range .Clients}}
                {{if .Active}}
                    <details>
                        <summary class="button">{{.ID}}</summary>
                        <div class="config">
                            <div>
                                <button class="button" hx-delete="/client/{{.ID}}">[ Delete ]</button>
                                <button class="button" id="rename-{{.ID}}">[ Rename ]</button>
                            </div>
                            <h3>Client Config:</h3>
                            <pre>{{.Config}}</pre>
                            <a class="button" href="/endpoints/{{.EndpointID}}/{{.ID}}">[ Download ]</a>
                            <p></p>
                            <h3>Scan with the WireGuard app:</h3>
                            <img src="data:image/png;base64,{{.QR}}" alt="QR Code">
                        </div>
                    </details>
                    <dialog id="rename-{{.ID}}-dialog">
                        <div class="details-contents">
                            <label class="setting">
                                Device Name:
                                <input type="text" name="pin" value="{{.ID}}">
                                <input class="button" type="submit" value="[ Rename ]">
                            </label>
                        </div>
                        <button class="button" id="close-rename-{{.ID}}-dialog">[ Close ]</button>
                    </dialog>
                    <script>
                        // JavaScript to handle the dialog open and close
                        document.getElementById('rename-{{.ID}}').addEventListener('click', function() {
                            document.getElementById('rename-{{.ID}}-dialog').showModal();
                        });

                        document.getElementById('close-rename-{{.ID}}-dialog').addEventListener('click', function() {
                            document.getElementById('rename-{{.ID}}-dialog').close();
                        });
                    </script>
                {{end}}
            {{end}}
        </div>
    </details>
    {{end}}
</div>
<dialog id="settings-dialog">
    <div id="settings" class="details-contents">
        <label class="setting">
            Digital Ocean Token:
            {{if .Account.DigitalOceanToken}}
            <input type="text" name="pin" value="{{.Account.DigitalOceanToken}}">
            <input hx-get="/token/add" hx-target="#settings" class="button" type="submit" value="[ Edit ]">
            {{else}}
            <input hx-get="/token/add" hx-target="#settings" class="button" type="submit" value="[ Add ]">
            {{end}}
        </label>
    </div>
    <button class="button" id="close-settings">[ Close ]</button>
</dialog>
<script>
    // JavaScript to handle the dialog open and close
    document.getElementById('settings-button').addEventListener('click', function() {
        document.getElementById('settings-dialog').showModal();
    });

    document.getElementById('close-settings').addEventListener('click', function() {
        document.getElementById('settings-dialog').close();
    });
</script>
{{end}}
