{{define "content"}}
<div class="article">
    <h1>yVPN - Empower Your VPN Creation</h1>

    <h2>What is yVPN?</h2>

    yVPN is a user-friendly tool enabling users to create personal VPN servers in their chosen geographic region, offering a unique, private server compared to shared servers in standard VPN services. <a href="https://publish.obsidian.md/yvpn/What+is+yVPN">Learn more...</a>

    <h2>Why use it?</h2>

    yVPN stands out for its enhanced privacy and financial savings. It enables users to manage their own VPN infrastructure, offering greater trust and control, and follows a pay-for-what-you-use model, which is more cost-effective than standard VPN services. <a href="https://publish.obsidian.md/yvpn/Why+use+yVPN">Learn more...</a>

    <h2>Who is it for?</h2>

    yVPN democratizes the creation of homemade VPN servers, traditionally a domain for tech enthusiasts, by offering an easy-to-use tool that allows anyone, regardless of technical skill, to set up a personal VPN server in seconds. <a href="https://publish.obsidian.md/yvpn/Who+is+yVPN+for">Learn more...</a>

    <h2>How does it work?</h2>

    yVPN operates through a straightforward process: acquire a Digital Ocean API token (with assistance available), sign up for a yVPN account, create your first VPN server, and then connect your devices. <a href="https://publish.obsidian.md/yvpn/How+yVPN+works">Learn more...</a>

    <a class="button" href="/purchase">[ Get Started! ]</a>
</div>
{{end}}

